/* Login Page Styles */

.loginPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.accountPageHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.accountPageLogoutButton {
	background-color: #00000000;
	color: #ffffff;
	border: #ffffff 2px solid;
	padding: 10px;
	border-radius: 20px;
	width: 150px;
	height: 50px;
	cursor: pointer;
}

.loginPageDiv {
	border: #ebebeb 2px solid;
	background-color: #1c1d1f;
	border-radius: 25px;
	padding: 20px;
}

.loginHasFailed {
	width: 290px;
	color: #ffffff;
	background-color: #ff000086;
	border: #ff0000 2px solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	max-width: 100%;
}

.loginPageHeader {
	font-size: 50px;
	margin-bottom: 20px;
}

.loginPageForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #1c1d1f;
	border-radius: 25px;
}

.loginPageFormInput {
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 5px;
	border: 0;
	width: 300px;
	height: 30px;
}

.loginPageFormButton {
	width: 310px;
	height: 40px;
	padding: 5px;
	background-color: #ffffff;
	color: #000000;
	border: 0;
	border-radius: 5px;
}

@media screen and (max-width: 400px) {
	.loginPageForm {
		width: calc(100vw - (100vw / 5));
	}

	.loginHasFailed {
		width: calc(100% - 55px);
	}
	.loginPageFormInput {
		width: calc(100% - 10px);
	}

	.loginPageFormButton {
		width: 100%;
	}
}

.loginPageRegisterLink {
	color: #ffffff;
}

.loginPageRegisterLinkDiv {
	text-align: center;
	width: 100%;
	margin-top: 5px;
}

/* Warning Page Styles */

.warningPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.warningPageDiv {
	border: #ff0000 2px solid;
	background-color: #1c1d1f;
	border-radius: 25px;
	padding: 20px;
}

.warningHasFailed {
	width: 290px;
	color: #ffffff;
	background-color: #ff000086;
	border: #ff0000 2px solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	max-width: 100%;
}

.warningPageHeader {
	font-size: 50px;
	margin-bottom: 20px;
}

.warningPageForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #1c1d1f;
	border-radius: 25px;
}

.warningPageFormInput {
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 5px;
	border: 0;
	width: 300px;
	height: 30px;
}

.warningPageFormButton {
	width: 310px;
	height: 40px;
	padding: 5px;
	background-color: #ffffff;
	color: #000000;
	border: 0;
	border-radius: 5px;
}

@media screen and (max-width: 400px) {
	.warningPageForm {
		width: calc(100vw - (100vw / 5));
	}

	.warningHasFailed {
		width: calc(100% - 55px);
	}
	.warningPageFormInput {
		width: calc(100% - 10px);
	}

	.warningPageFormButton {
		width: 100%;
	}
}

.warningPageRegisterLink {
	color: #ffffff;
}

.warningPageRegisterLinkDiv {
	text-align: center;
	width: 100%;
	margin-top: 5px;
}

/* Register Page Styles */

.registerPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.registerPageDiv {
	border: #ebebeb 2px solid;
	background-color: #1c1d1f;
	border-radius: 25px;
	padding: 20px;
}

.registerHasFailed {
	width: 290px;
	color: #ffffff;
	background-color: #ff000086;
	border: #ff0000 2px solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	max-width: 100%;
}

.registerPageHeader {
	font-size: 50px;
	margin-bottom: 20px;
}

.registerPageForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #1c1d1f;
	border-radius: 25px;
}

.registerPageFormInput {
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 5px;
	border: 0;
	width: 300px;
	height: 30px;
}

.registerPageFormButton {
	width: 310px;
	height: 40px;
	padding: 5px;
	background-color: #ffffff;
	color: #000000;
	border: 0;
	border-radius: 5px;
}

@media screen and (max-width: 400px) {
	.registerPageForm {
		width: calc(100vw - (100vw / 5));
	}

	.registerHasFailed {
		width: calc(100% - 55px);
	}
	.registerPageFormInput {
		width: calc(100% - 10px);
	}

	.registerPageFormButton {
		width: 100%;
	}
}

/* Account Page Styles */

.accountPageUserInfo {
	margin: 65px 20px 20px;
	background-color: #0d1117;
	border-radius: 25px;
	height: 100%;
	width: 100vw;
	padding: 20px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.accountPageUserInfoUsername {
	margin-left: 10px;
	font-size: 50px;
}

/* Danger Zone Styles */

.dangerZoneContainer {
	width: 100%;
	height: 100%;
}

.dangerZoneHeader {
	font-size: 50px;
	margin-bottom: 20px;
	color: #ff0000;
}

.dangerZone {
	width: calc(100% - 20px);
	height: 100%;
	border-radius: 15px;
	border: #ff0000 2px solid;
	padding: 10px;
}

.dangerZoneItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dangerZoneItemButton {
	background-color: #00000000;
	color: #ffffff;
	border: #ff0000 2px solid;
	padding: 10px;
	border-radius: 20px;
	width: 150px;
	cursor: pointer;
}
