/* Card Styles */

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.card {
	display: flex;
	flex-direction: column;
	margin: 10px;
	flex: 0 0 auto;
}

.card h3 {
	margin-left: 10px;
}

.card img {
	width: 250px;
	height: 130px;
	border-radius: 12px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transform: translateY(-10px);
}

.searchPageVideosList {
	display: flex;
	scrollbar-width: none;
	flex-wrap: wrap;
	justify-content: left;
	overflow-x: auto;
	padding: 10px 0;
}

.accountMenuVideosList {
	display: flex;
	scrollbar-width: none;
	flex-wrap: wrap;
	justify-content: left;
	overflow-x: auto;
	padding: 10px 0;
}

.navSearchCard {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
	flex: 0 0 auto;
}

.navSearchCard:nth-child(1) {
	margin-top: 0px;
}

.navSearchCard h2 {
	margin-left: 10px;
	max-width: 250px;
}

.navSearchCard img {
	width: 130px;
	height: 70px;
	border-radius: 12px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
