/* Card Styles */

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.card {
	display: flex;
	flex-direction: column;
	margin: 10px;
	flex: 0 0 auto;
}

.card h3 {
	margin-left: 10px;
	max-width: 24ch;
}

.card img {
	width: 250px;
	height: 130px;
	border-radius: 12px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transform: translateY(-10px);
	object-fit: cover;
}

.searchPageVideosList {
	display: flex;
	scrollbar-width: none;
	flex-wrap: wrap;
	justify-content: left;
	overflow-x: auto;
	padding: 10px 0;
}

.accountMenuVideosList {
	display: flex;
	scrollbar-width: none;
	flex-wrap: wrap;
	justify-content: left;
	overflow-x: auto;
	padding: 10px 0;
}

.navSearchCard {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
	flex: 0 0 auto;
}

.navSearchCard:nth-child(1) {
	margin-top: 0px;
}

.navSearchCard h2 {
	margin-left: 10px;
	max-width: 20ch;
}

.navSearchCard img {
	width: 130px;
	height: 70px;
	border-radius: 12px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	object-fit: cover;
}

.adminPageCard {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 20px;
	border-top: 1px solid #2a2b2c;
	flex: 0 0 auto;
}

.adminPageCardsWrapper .adminPageCard:first-child {
	border-top: none;
}

.adminPageCard h2 {
	font-size: x-large;
	margin-left: 10px;
	margin-right: auto;
	max-width: 250px;
}

.adminPageCard img {
	margin-top: 20px;
	width: 260px;
	height: 140px;
	border-radius: 12px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	object-fit: cover;
}

@media screen and (max-width: 740px) {
	.adminPageCard {
		flex-direction: column;
		align-items: center;
		justify-self: center;
		margin: 10px;
		text-align: center;
	}
	.adminPageCard h2 {
		font-size: x-large;
		margin: 0;
		margin-right: 20px;
		max-width: unset;
	}
}
