/* Nav Styles */

nav {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100vw;
	height: 45px;
	background: #1c1d1f;
	border-bottom: solid 2px #2a2b2c;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	box-sizing: border-box;
}

nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul li {
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ebebeb;
	text-decoration: none;
}

.navVideoList {
	position: fixed;
	top: 50px;
	right: 60px;
	display: flex;
	flex-direction: column;
	scrollbar-width: none;
	flex-wrap: wrap;
	justify-content: left;
	overflow-x: auto;
	border: #ffffff 2px solid;
	border-radius: 15px;
	background-color: #0000006f;
	backdrop-filter: blur(20px) saturate(1);
	padding: 10px;
}
