/* Video Page Styles */

.aboutVideoItem {
	border-radius: 15px;
	padding: 10px;
	width: 300px;
	background-color: #65676b6c;
	margin-inline: 10px;
}

.video {
	width: 100vw;
	height: 100vh;
	object-fit: contain;
}

.controls {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}
.progress {
	margin-left: auto;
}
button {
	padding: 8px 12px;
	cursor: pointer;
}
