/* Video Page Styles */

.aboutVideoItem {
	border-radius: 15px;
	padding: 10px;
	width: 300px;
	background-color: #65676b6c;
	margin-inline: 10px;
}

.video {
	width: 100vw;
	height: 100vh;
	object-fit: contain;
}

.videoPageHeaderNav {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 5px;
	margin: 10px;
	padding: 10px;
	backdrop-filter: blur(10px) saturate(1);
	background-color: #00000097;
	border-radius: 25px;
	transition: all 0.5s ease-in-out;
}

.videoPageHeaderNav p {
	margin-left: 5px;
	color: #ffffff;
	font-weight: bold;
}
